.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-form label {
  position: fixed;
  left: 2000px;
}

.contact-form input {
  /* padding: 40px; */
}

.contact-form textarea {
  resize: none;
  height: 220px;
}

.contact-form .field {
  border: none;
  /* width: min(450px, 90%); */
  width: 100%;
  max-width: 390px;
  /* width: 90%; */
  margin-bottom: 10px;
  padding: 15px 20px;
  outline: none;
  font-size: 17px;
}

.contact-form .submit-button {
  margin-top: 0;
}

.success-message {
  background-color: var(--white);
  padding: 20px;
  border-radius: 20px;
}

.error-message {
  background-color: var(--white);
  padding: 20px;
  border-radius: 20px;
  color: red;
}
