body {
  background-color: var(--body-bg);
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Switzer, Arial;
}

a {
  text-decoration: none;
  color: var(--black);
}

.section-divider {
  width: 100%;
  height: 5px;
  background-color: var(--black);
  margin: 30px 0;
  display: none;
}

section {
  padding: 0 50px;
  scroll-margin-top: 40px;
  /* margin-bottom: 65px; */
  padding-top: 50px;
}

@media screen and (max-width: 450px) {
  section {
    padding: 0 10px;
  }
}

@media screen and (max-width: 800px) {
  section {
    scroll-margin-top: 80px;
  }
}

@media screen and (max-width: 420px) {
  section {
    scroll-margin-top: 130px;
    padding-top: 40px;
  }

  .exception-section {
    scroll-margin-top: 0;
    margin-top: 0;
  }
}

section:last-child {
  margin-bottom: 0;
}

.section-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--black);
}

.section-title .sub-title {
  font-size: 20px;
  color: var(--grayish);
}

.section-description-copy {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
